html,
body {
  height: 100%;
  height: 100vh;
  color: white;
  font-family: 'Roboto', sans-serif;
    background-color: #772e7b;
}

body{
    display: block;
}


.header{
    background: url(img/harrass.png) no-repeat;
    color: white;
    background-size: cover;
    height: 100%;
    position: relative;
    padding-top: 2em;
}

.logo{
    position: absolute;
    top: 0;
    right: 0;
}

.phone-details{
    padding-top: 0.5em;
}

.phone-icon {
  display: inline-block;
  max-width:85px;
  max-height:85px;
  width: auto;
  height: auto;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

.gabbie-icon {
  display: inline-block;
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
  float: left;
  padding-top: 0.5em;
  padding-right: 0.5em;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color:#FFF;
  height: 1px;
}